@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./colors.css";

@layer base {
  :root {
    /** Neutral */
    --background: var(--slate-100);
    --foreground: var(--slate-900);

    --muted: var(--slate-200);
    --muted-foreground: var(--slate-500);

    --card: var(--white);
    --border: var(--slate-300);
    --input: var(--slate-300);

    /** Primary */
    --primary: var(--blue-600);
    --primary-muted: var(--blue-100);
    --primary-muted-foreground: var(--blue-800);

    /** Secondary */
    --secondary: var(--lime-700);
    --secondary-muted: var(--lime-100);
    --secondary-muted-foreground: var(--lime-800);

    /** Accent */
    --accent: var(--red-600);
    --accent-muted: var(--red-100);
    --accent-muted-foreground: var(--red-800);

    --ring: var(--blue-500);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--slate-950);
    --foreground: var(--slate-50);

    --muted: var(--slate-800);
    --muted-foreground: var(--slate-500);

    --card: var(--slate-900);
    --border: var(--slate-700);
    --input: var(--slate-700);

    /** Primary */
    --primary: var(--blue-500);
    --primary-muted: var(--blue-700);
    --primary-muted-foreground: var(--blue-100);

    /** Secondary */
    --secondary: var(--lime-500);
    --secondary-muted: var(--lime-700);
    --secondary-muted-foreground: var(--lime-100);

    /** Accent */
    --accent: var(--red-500);
    --accent-muted: var(--red-700);
    --accent-muted-foreground: var(--red-100);

    --ring: var(--blue-400);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  :root {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
