@import "tailwindcss";

@import "./colors.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;
  --color-transparent: hsla(0, 0%, 0%, 0);
  --color-white: hsl(var(--white));
  --color-ring: hsl(var(--ring));

  --color-content: hsl(var(--content));
  --color-content-muted: hsl(var(--content-muted));

  --color-background: hsl(var(--background));
  --color-background-muted: hsl(var(--background-muted));
  --color-background-popover: hsl(var(--background-popover));

  --color-icon: hsl(var(--icon));
  --color-icon-muted: hsl(var(--icon-muted));

  --color-primary: hsl(var(--primary));
  --color-primary-border: hsl(var(--primary-border));
  --color-primary-text: hsl(var(--primary-text));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-border: hsl(var(--destructive-border));
  --color-destructive-text: hsl(var(--destructive-text));

  --color-color: hsl(var(--color));
  --color-color-border: hsl(var(--color-border));
  --color-color-text: hsl(var(--color-text));

  --radius-*: initial;
  --radius-xl: var(--radius) + 2px;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-full: 9999px;

  --outline-color: hsl(var(--ring));

  --font-sans: var(--font-inter);
}

@layer base {
  :root {
    --content: var(--slate-950);
    --content-muted: var(--slate-500);

    --background: var(--white);
    --background-muted: var(--slate-100);
    --background-popover: var(--white);

    --icon: var(--slate-500);
    --icon-muted: var(--slate-400);

    --ring: var(--blue-500);

    --radius: 0.5rem;

    --primary: var(--blue-500);
    --primary-border: var(--blue-600);
    --primary-text: var(--blue-700);

    --secondary: var(--lime-500);
    --secondary-border: var(--lime-600);
    --secondary-text: var(--lime-700);

    --destructive: var(--red-500);
    --destructive-border: var(--red-600);
    --destructive-text: var(--red-700);

    --color-zinc: var(--zinc-500);
    --color-zinc-border: var(--zinc-600);
    --color-zinc-text: var(--zinc-700);

    --color-red: var(--red-500);
    --color-red-border: var(--red-600);
    --color-red-text: var(--red-700);

    --color-orange: var(--orange-500);
    --color-orange-border: var(--orange-600);
    --color-orange-text: var(--orange-700);

    --color-amber: var(--amber-500);
    --color-amber-border: var(--amber-600);
    --color-amber-text: var(--amber-700);

    --color-yellow: var(--yellow-500);
    --color-yellow-border: var(--yellow-600);
    --color-yellow-text: var(--yellow-700);

    --color-lime: var(--lime-500);
    --color-lime-border: var(--lime-600);
    --color-lime-text: var(--lime-700);

    --color-green: var(--green-500);
    --color-green-border: var(--green-600);
    --color-green-text: var(--green-700);

    --color-emerald: var(--emerald-500);
    --color-emerald-border: var(--emerald-600);
    --color-emerald-text: var(--emerald-700);

    --color-teal: var(--teal-500);
    --color-teal-border: var(--teal-600);
    --color-teal-text: var(--teal-700);

    --color-cyan: var(--cyan-500);
    --color-cyan-border: var(--cyan-600);
    --color-cyan-text: var(--cyan-700);

    --color-sky: var(--sky-500);
    --color-sky-border: var(--sky-600);
    --color-sky-text: var(--sky-700);

    --color-blue: var(--blue-500);
    --color-blue-border: var(--blue-600);
    --color-blue-text: var(--blue-700);

    --color-indigo: var(--indigo-500);
    --color-indigo-border: var(--indigo-600);
    --color-indigo-text: var(--indigo-700);

    --color-violet: var(--violet-500);
    --color-violet-border: var(--violet-600);
    --color-violet-text: var(--violet-700);

    --color-purple: var(--purple-500);
    --color-purple-border: var(--purple-600);
    --color-purple-text: var(--purple-700);

    --color-fuchsia: var(--fuchsia-500);
    --color-fuchsia-border: var(--fuchsia-600);
    --color-fuchsia-text: var(--fuchsia-700);

    --color-pink: var(--pink-500);
    --color-pink-border: var(--pink-600);
    --color-pink-text: var(--pink-700);

    --color-rose: var(--rose-500);
    --color-rose-border: var(--rose-600);
    --color-rose-text: var(--rose-700);
  }

  .dark {
    --content: var(--white);
    --content-muted: var(--slate-500);

    --background: var(--slate-900);
    --background-muted: var(--slate-950);
    --background-popover: var(--sltae-800);

    --icon: var(--slate-500);
    --icon-muted: var(--slate-700);

    --ring: var(--blue-400);

    --radius: 0.5rem;

    --primary: var(--blue-400);
    --primary-border: var(--blue-500);
    --primary-text: var(--blue-700);

    --secondary: var(--lime-400);
    --secondary-border: var(--lime-500);
    --secondary-text: var(--lime-700);

    --destructive: var(--red-400);
    --destructive-border: var(--red-500);
    --destructive-text: var(--red-700);

    --color-red: var(--red-400);
    --color-red-border: var(--red-500);
    --color-red-text: var(--red-700);

    --color-orange: var(--orange-400);
    --color-orange-border: var(--orange-500);
    --color-orange-text: var(--orange-700);

    --color-yellow: var(--yellow-400);
    --color-yellow-border: var(--yellow-500);
    --color-yellow-text: var(--yellow-700);

    --color-lime: var(--lime-400);
    --color-lime-border: var(--lime-500);
    --color-lime-text: var(--lime-700);

    --color-green: var(--green-400);
    --color-green-border: var(--green-500);
    --color-green-text: var(--green-700);

    --color-emerald: var(--emerald-400);
    --color-emerald-border: var(--emerald-500);
    --color-emerald-text: var(--emerald-700);

    --color-teal: var(--teal-400);
    --color-teal-border: var(--teal-500);
    --color-teal-text: var(--teal-700);

    --color-cyan: var(--cyan-400);
    --color-cyan-border: var(--cyan-500);
    --color-cyan-text: var(--cyan-700);

    --color-sky: var(--sky-400);
    --color-sky-border: var(--sky-500);
    --color-sky-text: var(--sky-700);

    --color-blue: var(--blue-400);
    --color-blue-border: var(--blue-500);
    --color-blue-text: var(--blue-700);

    --color-indigo: var(--indigo-400);
    --color-indigo-border: var(--indigo-500);
    --color-indigo-text: var(--indigo-700);

    --color-violet: var(--violet-400);
    --color-violet-border: var(--violet-500);
    --color-violet-text: var(--violet-700);

    --color-purple: var(--purple-400);
    --color-purple-border: var(--purple-500);
    --color-purple-text: var(--purple-700);

    --color-fuchsia: var(--fuchsia-400);
    --color-fuchsia-border: var(--fuchsia-500);
    --color-fuchsia-text: var(--fuchsia-700);

    --color-pink: var(--pink-400);
    --color-pink-border: var(--pink-500);
    --color-pink-text: var(--pink-700);

    --color-rose: var(--rose-400);
    --color-rose-border: var(--rose-500);
    --color-rose-text: var(--rose-700);
  }

  body {
    @apply bg-background text-content;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
